body, html{
    width: 700px;
  margin: auto;
  background-image: url(../_css/imagens/formatura.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: inherit;
  background-attachment: fixed;
}
.header-cursos{
    width: 100vw;
    height: 100vh;
    margin: -30px;
   
}
h1{
    color: white;
    display: inline-block;
    margin: 50px -30px;
text-align: center;
}