body{
    background-color: #ccc;
    font-family: sans-serif;
    font-size: 16px;
}
.header-inicio{

}
.header-div{

}
.header-ul{
    
}
.header-li{

}
.header-a{

}
.main-conteudo{

}
.main-artcle{

}
.main-p{

}
.footer-rodape{

}
.footer-ul{

}
.footer-li{

}
.footer-a{
    
}