body{
    background-color: #efefef;
    margin-top: 0;
}
.header-inicio{
background-image: url(../_css/imagens/foto-notbook.png);
width: 600vw;
height: 400px;
background-repeat: no-repeat;
background-attachment: fixed;
margin-top: -15px;
}
.foto-perfil{
    
}
.header-div{
background-image: radial-gradient(#ccc,rgb(165, 163, 163));
}
.header-ul{
    
}
.header-li{

}
.header-a{

}
.main-conteudo{

}
.main-artcle{

}
.main-p{

}
.footer-rodape{

}
.footer-ul{

}
.footer-li{

}
.footer-a{
    
}